
.PlayerName h1{
    font-size: 3rem;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 10px;
    transition: text-shadow 0.3s ease;
}

.PlayerName h1:hover{
    text-shadow: 10px 10px 10px hsla(178, 77%, 7%, 1);
}

.nameInput{
    display: flex;
    flex-direction: column;
}

.nameInput input{
 outline: none;
 background-color: var(--tiffany-blue);
 border:none;
 padding:8px;
 border-radius: 10px;
 margin-bottom: 10px;
 font-size: 1.5rem;
}

.nameInput button{
    border: none;
    border-radius: 10px;
    background-color: var(--tiffany-blue);
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    margin-bottom: 10px;
}

.nameInput button:hover{
    background-color: var(--hunyadi-yellow);
}